{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">I am Ayan.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <section id="about" class="about">
      <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="section-title">
          <h2>Ayan Bhardwaj</h2>
          <p>I am a student of DAV Model School, Sector - 15, Chandigarh. I study in class 5th.</p>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <img src="{{ url_for('static', filename='img/ayan.jpg')}}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content">
            <h3>Student/Painter & Photographer</h3>
            <p class="fst-italic">
              I love watching birds. I enjoy taking pictures and video graphing various birds, animals and insects. I can spends hours watching eagles fly up in the blue skies. I visit city parks and enjoy observing differnt species of birds.
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>13 Jan 2011</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>https://ayanblogs.onrender.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+91 9464625427</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Chandigarh, India</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>11</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Class:</strong> <span>5th-B</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email id:</strong> <span>pratibhaayanrahul@gmail.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Profession:</strong> <span>Student</span></li>
                </ul>
              </div>
            </div>
            <p>
              I also love to draw cartoons of super heroes, dragons, dinasours, animals in my spare time. I love doing school activites that are assigned to me by my teachers.
            </p>
          </div>
        </div>

      </div>
    </section>

  <hr>

  {% include "footer.html" %}